@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: local('Lato'), url(./assets/fonts/Roboto-Thin.ttf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Lato'), url(./assets/fonts/Roboto-Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Lato'), url(./assets/fonts/Roboto-Medium.ttf) format('opentype');
}
.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

